:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
}
.layout {
  margin: 0;
  padding: 0;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: minmax(250px, 1fr) 5fr;
  grid-template-rows: 1fr 5fr;
}
.nav {
  background-color: #313131;
  color: white;
  grid-row: 1/3;
}
.nav .nav--logo {
  display: flex;
  margin: 0.8rem 0 0 1rem;
  align-items: flex-end;
  gap: 0 0.7rem;
}
.nav .nav--logo .logo-text {
  font-size: 1.8rem;
}
.nav .nav--options ul {
  list-style-type: none;
  margin: 2.5rem 0 0 0;
}
.nav .nav--options ul li {
  margin: 1.3rem 0;
}
.content {
  background-color: #F8F8F8;
  grid-row: 1/3;
}
